.canvas_demo {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #f5f2f0;
  border-style: double;
  position: relative;
  border-width: 3px;
  border-color: #808080;
}

.canvas_demo.interactive:before {
  content: "Mouse over to interact!";
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
}

pre {
  margin: 10px !important;
  border-style: double;
  position: relative;
  border-width: 3px;
  border-color: #808080;
  overflow: hidden !important;
}

pre.hidden {
  height: 0px;
  padding: 7px !important;
}

.canvas_demo .demo_contents {
  display: table;
  width: 100%;
}

.canvas_demo .demo_contents_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.canvas_demo .demo_contents_cell > * {
  position: relative;
  display: inline-block;
  border: 10px solid #e5e2e0;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.canvas_demo .demo_contents_cell > * > *:first-child {
  border: 1px solid #333;
  border-radius: 10px;
}

.canvas_demo .demo_contents_cell canvas {
  display: block;
}

.canvas_demo .demo_contents_cell a {
  position: absolute;
  top: -30px;
  left: 0;
}

.canvas_demo p {
  text-indent: 0px !important;
  margin: 0 !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  text-align: center;
  font-size: 14px;
}

.canvas_demo code.monospace {
  font-size: 10px;
  background: #e5e2e0;
  padding-bottom: 3px;
}
