<h1 class="title">Contact</h1>
<p>Personal Email: <a href="mailto:TNiechciol@gmail.com">TNiechciol@gmail.com</a></p>
<p>UWaterloo Email: <a href="mailto:tniechci@uwaterloo.ca">tniechci@uwaterloo.ca</a></p>
