html * {
    font-family: 'Oswald', sans-serif !important;
    color: #444 !important;
    font-size: 1em;
}

html body a {
    text-decoration:underline;
    color: #A00 !important;
}

#wrapper {
    width: 900px;
}

#header_relative {
    position:relative;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin-top: -20px;
}

body {
    margin: 0;
}

#content {
    padding-top: 25px;
}

h1 {
    padding:0;
    margin:0;
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
}

.subsection_wrapper {
    position:relative;
}

.section_wrapper ul {
    padding-left: 20px;
    margin-top:0;
    margin-bottom:0;
}

.subsection_wrapper .right_info {
    position:absolute;
    right:10px;
    top:8px;
    font-size: 0.80em;
}

#work-experience_section_wrapper {
    margin-top: -25px;
}

#work-experience_section_wrapper .subsection_wrapper {
    width: 440px;
    display: inline-block;
    vertical-align: top;
}

#skills_section_wrapper .subsection_wrapper {
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
}

#languages_subsection_wrapper, #platforms_subsection_wrapper {
    margin-right: 55px;
}

#languages_subsection_wrapper ul {
    padding-left: 0px;
}

#languages_subsection_wrapper ul li {
    margin-left: 20px;
}

#a-thinking-ape_subsection_wrapper {
    margin-right: 20px
}

#personal-projects_section_wrapper {
    position:relative;
}

#personal-projects_section_wrapper .project_descriptions {
    width: 550px;
}

.project_images {
    position: absolute;
    width: 350px;
    top: 55px;
    right: 0;
}

.project_images img {
    display: block;
    margin: auto;
    margin-top: 12px;
    width: 350px;
    height: 155px;
}

h1, h2, h3 {
    margin-bottom:0;
    padding-bottom:0;
}

.seperator {
    width:75%;
    height:3px;
    margin-top:0;
    margin-bottom:5px;
    display:block;
    border:none;
}

.vertical_seperator_table {
    display: table;
    border-spacing: 10px 5px;
}

.vertical_seperator {
    width: 1px;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

.subsection_seperated_content {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

.subsection_seperated_content .inner_content {
}

.skills_sublist {
    float: left;
}

.skills_sublist:first-child {
    width:63px;
    margin-right: 20px;
}

.skills_sublist:last-child {
    width:84px;
}
