#pageContent p {
    text-indent: 40px;
    margin: 20px;
}

p.noindent, p.nospacing {
  text-indent: 0px !important;
}

p.nospacing {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

p.monospace {
  margin: 0 !important;
}

code {
    font-size: 14px;
}

code.monospace {
    font-family: 'Roboto Mono', sans-serif !important;
    font-size: 12px;
    position: relative;
    top: -2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 4px;
    background: #f5f2f0;
    white-space: pre;
}

.expandable_code pre {
  margin-top: 0 !important;
}

.expandable_code a {
  margin-left: 20px;
}

h2, h3 {
  margin: 20px;
}
