#pageContent.textsection {
  margin-top: 0px;
}

#pageContent p.first {
  margin-top: 20px;
}

#pageContent p {
  margin: 10px 20px;
  margin-bottom: 20px;
  text-indent: 40px;
}

#pageContent p.noindent {
  text-indent: 0;
}

#pageContent img {
    max-width: 200px;
    border-radius: 10px;
    float: right;
    margin: 18px;
    margin-top: -6px;
}
