html {
    /*font-family: Arial, Helvetica, Tahoma !important;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html body * {
    max-height: 999999px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1.title {
    text-align:center;
}

html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
} 

body {
    background-color: #FFF;
}

#navBar {
    background: #FFF;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-size: 24px;

    -moz-box-shadow: 0px 1px 8px 0px #777;
    -webkit-box-shadow: 0px 1px 8px 0px #777;
    -o-box-shadow: 0px 1px 8px 0px #777;
    box-shadow: 0px 1px 8px 0px #777;
}

#navBar, #navSpacing {
    height: 55px;
}

#navBar a
{
    text-decoration: none;
    color: #333;
}

#navBar ul
{
    list-style: none;
    margin: 0;
    padding: 8px;
}

#navBar ul ul {
    margin-top: 5px;
    margin-left: -10px;
    font-size: 18px;
}

#navBar > ul {
    width: 800px;
    margin: auto;
    margin-top: -3px;
}

#navBar li
{
    float: left;
    margin-right: 5px;
}

#navBar li a {
    display: block;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 10px 8px 10px;
}

#navBar li li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#navBar > ul > li > div {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#navBar > ul > li:hover > div {
    transition-duration: 0.1s;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

#navBar > ul > li:hover > div a {
}

#navBar li li {
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#navBar li li:hover {
    z-index: 2;

    transition-duration: 0.1s;
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */

    //-moz-box-shadow: 0px 4px 8px 0px #111;
    //-webkit-box-shadow: 0px 4px 8px 0px #111;
    //-o-box-shadow: 0px 4px 8px 0px #111;
    //box-shadow: 0px 4px 8px 0px #111;
}

#navBar li:hover > a, #navBar li:hover > div > a
{
    background: #F00;
    color: #FFF;
}

#navBar li ul
{
    pointer-events: none;
    opacity: 0;
    transform-origin: top left;
    transform: scale(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;

    position: absolute;
    padding: 0;
    background-color:#FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 0px 1px 8px 0px #555;
    -webkit-box-shadow: 0px 1px 8px 0px #555;
    -o-box-shadow: 0px 1px 8px 0px #555;
    box-shadow: 0px 1px 8px 0px #555;
}

#navBar li:hover ul
{
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}

#navBar li li
{
    margin: 0;
    float: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navBar li li a
{
    background: #FFF;
}

#wrapper {
    overflow: hidden;
    position:relative;
    margin: auto;
    margin-top: -1px;
    width:800px;
    min-height:100%;
    padding-bottom:1px;
    background: #FFF;

    -moz-box-shadow: 0px 1px 8px 0px #555;
    -webkit-box-shadow: 0px 1px 8px 0px #555;
    -o-box-shadow: 0px 1px 8px 0px #555;
    box-shadow: 0px 1px 8px 0px #555;
}

#pageContent {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#pageContent p.noindent {
  text-indent: 0;
}

.textsection {
    color: #333;
}

#footseperator {
    width: 100%;
    height: 20px;
    background-color: #333;
    margin-bottom: 7px;
    box-shadow: #AAA 0px 5px 10px;
}

#footer {
    position: absolute;
    bottom:0;
    background: #FFF;
    width:100%;
    height:25px;
    text-align: center;
    padding-bottom: 25px;
}

#footer p {
    font-size: 14px;
}

p {
    margin: 0;
}

a {
    color: #B11;

    -webkit-transition: text-shadow 0.2s ease, color 0.2s ease;
    -moz-transition: text-shadow 0.2s ease, color 0.2s ease;
    -o-transition: text-shadow 0.2s ease, color 0.2s ease;
    -ms-transition: text-shadow 0.2s ease, color 0.2s ease;
    transition: text-shadow 0.2s ease, color 0.2s ease;
}

a:visited {
    color: #B11;
}

a:hover {
    color: #F22;
    text-shadow: 0 0 2px #F87, 0 0 2px #F87;
}

html .button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FFF;
    color: #333;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

    -moz-box-shadow: 0px 1px 4px 0px #777;
    -webkit-box-shadow: 0px 1px 4px 0px #777;
    -o-box-shadow: 0px 1px 4px 0px #777;
    box-shadow: 0px 1px 4px 0px #777;
}

html .button:hover {
    background-color: #F00;
    color: #FFF;

    transition-duration: 0.1s;
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}

img {
    opacity: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.loading img {
    opacity: 0;
}

/* Loading spinner taken from here: http://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.loading {
    min-width: 24px;
    min-height: 24px;
    position: relative;
}

.loading:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.loading:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
