html {
    /*font-family: Arial, Helvetica, Tahoma !important;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1.title {
    text-align:center;
}

html, body {
    height: 100%;
    margin:0;
    padding:0;
} 

body {
    background-color: #FFF;
}

#navBar {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#F0F0F0), color-stop(.6,#FFFFFF));
    position:fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom: 1px solid #222;
    font-size: 24px;
}

#navBar, #navSpacing {
    height: 50px;
}

#navBar a
{
    text-decoration: none;
    color: #222;
}

#navBar ul
{
    list-style: none;
    margin: 0;
    padding: 8px;
}

#navBar ul ul {
    margin-top:2px;
    margin-left:-10px;
    font-size: 18px;
}

#navBar > ul {
    width: 800px;
    margin: auto;
    margin-top: -5px;
}

#navBar li
{
    float: left;
    margin-right: 5px;
}

#navBar li a {
    display: block;
    background-color: transparent;
    padding: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navBar > ul > li > div {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#navBar > ul > li:hover > div {
    transition-duration: 0.1s;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

#navBar > ul > li:hover > div a {
    border: 2px solid #222;
}

#navBar li li {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#navBar li li:hover {
    transition-duration: 0.1s;
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */

    -moz-box-shadow: 0px 4px 8px 0px #111;
    -webkit-box-shadow: 0px 4px 8px 0px #111;
    -o-box-shadow: 0px 4px 8px 0px #111;
    box-shadow: 0px 4px 8px 0px #111;
}

#navBar li:hover > a, #navBar li:hover > div > a
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DD0000), to(#DD0000), color-stop(.6,#FF0000));
    color: #EEE;
}

#navBar li ul
{
    display: none;
    position: absolute;
    padding: 0;
    border: 2px solid #111;
    background-color:#222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navBar li:hover ul
{
    display: block; 
}

#navBar li li
{
    margin: 0;
    float: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navBar li li a
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#F0F0F0), color-stop(.6,#FFFFFF));
    border: 1px solid #222;
}

#wrapper {
    position:relative;
    margin: auto;
    width:800px;
    min-height:100%;
    padding-bottom:1px;
    background: #F6F6F6;

    -moz-box-shadow: 0px 8px 16px 0px #000;
    -webkit-box-shadow: 0px 8px 16px 0px #000;
    -o-box-shadow: 0px 8px 16px 0px #000;
    box-shadow: 0px 8px 16px 0px #000;
}

#pageContent {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow:hidden;
    padding-bottom: 60px;
}

.textsection {
    color: #222;
    margin-left: 20px;
    margin-right: 20px;
}

#footseperator {
    width: 100%;
    height: 20px;
    background-color: #222;
    margin-bottom: 10px;
}

#footer {
    position: absolute;
    bottom:0;
    background: #EEE;
    width:100%;
    height:40px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

p {
    margin: 0;
}

a {
    color: #B11;
}

a:visited {
    color: #B11;
}

a:hover {
    color: #F22;
}

