.pageContent ul {
    margin: 0;
}

.section_body {
    margin: 10px 0px;
}

.screenshots .section_body {
    text-align:center;
    margin: 10px 0px;
}

.screenshot, .youtube_video {
    margin: 0px 10px;
    border: 10px solid #e5e2e0;
    background-color: #e5e2e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 20px;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.description .screenshot_container {
    width: 100%;
    text-align: center;
}

.description .screenshot {
    display: inline-block;
}

.description .screenshot img {
    max-width: 500px;
}

.screenshot:hover, .youtube_video:hover {
    border-color: #d00;
    background-color: #d00;

    transform:scale(1.01);
    -ms-transform:scale(1.01); /* IE 9 */
    -moz-transform:scale(1.01); /* Firefox */
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -o-transform:scale(1.01); /* Opera */
}

.screenshot img, .youtube_video > .youtube_video_border {
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

.screenshot_container {
    display: inline-block;
}

.screenshot {
  display: block;
}

.screenshot img {
    vertical-align: middle;
    max-height: 250px;
    max-width: 790px;
}

.youtube_video {
    width: 560px;
    margin: 20px auto;
}

.description p {
    text-indent: 40px;
    margin: 20px;
}

.problems p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 22px;
}

.right_info {
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
    font-family: 'Roboto Condensed', sans-serif;
}

.section.downloads p {
    margin-bottom: 10px;
}

.section.downloads .button {
    margin-right: 10px;
}

/* Screenshot popup */
body.popup {
    overflow: visible;
    position: fixed;
}

.overlay {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}

.popup_container {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    pointer-events: none;

    transform:scale(0.25);
    -ms-transform:scale(0.25); /* IE 9 */
    -moz-transform:scale(0.25); /* Firefox */
    -webkit-transform:scale(0.25); /* Safari and Chrome */
    -o-transform:scale(0.25); /* Opera */
}

.popup_container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlay, .popup_container {
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.overlay.visible, .popup_container.visible {
}

.overlay.visible {
    opacity: 0.3;
    pointer-events: all;
}

.popup_container.visible {
    opacity: 1;

    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */
}

.popup_container.visible .popup_content {
    pointer-events: all;
}

.popup_content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.screenshot_popup {
    background-color: #d22;
    border: 10px solid #d22;
    border-radius: 10px;
}

.screenshot_popup img {
    vertical-align: middle;

    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
}

.screenshot_popup .close {
    position: absolute;
    right: 15px;
    top: 0px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    z-index: 102;

    text-shadow: 0 0 1px #000, 0 0 1px #000;

    -webkit-transition: all 0.10s ease-in;
    -moz-transition: all 0.10s ease-in;
    -o-transition: all 0.10s ease-in;
    -ms-transition: all 0.10s ease-in;
    transition: all 0.10s ease-in;
}

.screenshot_popup .close:hover {
    text-shadow: 0 0 1px #d00, 0 0 1px #d00;

    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
