.pageContent ul {
    margin: 0;
}

.section_body {
    margin: 10px 20px;
}

.screenshots .section_body {
    text-align:center;
    margin: 10px 0px;
}

.screenshot, .youtube_video {
    margin: 0px 10px;
    border: 15px solid #eee;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 20px;
}

.screenshot img, .youtube_video > .youtube_video_border {
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

.screenshot {
    display: inline-block;
}

.screenshot img {
    max-height: 294px;
    max-width: 790px;
}

.youtube_video {
    width: 560px;
    margin: auto;
}

.description p {
    margin-bottom: 20px;
}

.problems p {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 0;

    display: block; height: 1px;
    border: 0; border-top: 2px solid #F22;
    padding: 0; 
}

.section.downloads .button {
    margin-right: 10px;
}

/* Project preview stuff */
.preview {
    width: 760px;
}

.preview .image {
    float: right;
}

.preview_separator {
    clear: both;
    margin: 20px 100px 40px 100px;
    border: none;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#DDD), to(#fff));
}

.preview .image {
    margin-left: 10px;
    margin-bottom: 10px;
}

.preview .image img {
    max-width: 280px;
    max-height: 200px;
}

.preview .description {
    margin: 10px 20px;
}
