.pageContent ul {
    margin: 0;
}

.section_body {
    margin: 10px 20px;
}

.screenshots .section_body {
    text-align:center;
    margin: 10px 0px;
}

.screenshot, .youtube_video {
    margin: 0px 10px;
    border: 10px solid #eee;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 20px;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.screenshot:hover, .youtube_video:hover {
    border-color: #f00;
    background-color: #f00;

    transform:scale(1.01);
    -ms-transform:scale(1.01); /* IE 9 */
    -moz-transform:scale(1.01); /* Firefox */
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -o-transform:scale(1.01); /* Opera */
}

.screenshot img, .youtube_video > .youtube_video_border {
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

.screenshot {
    display: inline-block;
}

.screenshot img {
    vertical-align: middle;
    max-height: 294px;
    max-width: 790px;
}

.youtube_video {
    width: 560px;
    margin: auto;
}

.description p {
    margin-bottom: 20px;
    text-indent: 2em;
}

.problems p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
    margin-left: -15px;
    font-size: 1.125em;
}

.right_info {
    float: right;
    text-align: right;
    font-size: 0.9em;
    line-height: 18px;
    margin-top: 10px;
}

hr {
    margin-top: 0;

    display: block; height: 1px;
    border: 0; border-top: 2px solid #F22;
    padding: 0; 

    clear: both;
}

.section.downloads p {
    margin-bottom: 10px;
}

.section.downloads .button {
    margin-right: 10px;
}

/* Project preview stuff */
.preview {
    width: 760px;
}

.preview .image {
    float: right;
}

.preview_separator {
    clear: both;
    margin: 20px 100px 40px 100px;
    border: none;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#DDD), to(#fff));
}

.preview .image {
    margin-left: 10px;
    margin-bottom: 10px;
}

.preview .image img {
    max-width: 280px;
    max-height: 200px;
}

.preview .description {
    margin: 10px 20px;
}


/* Screenshot popup */
body.popup {
    overflow: visible;
    position: fixed;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}

.popup_container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    pointer-events: none;

    transform:scale(0.25);
    -ms-transform:scale(0.25); /* IE 9 */
    -moz-transform:scale(0.25); /* Firefox */
    -webkit-transform:scale(0.25); /* Safari and Chrome */
    -o-transform:scale(0.25); /* Opera */
}

.popup_container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.overlay, .popup_container {
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.overlay.visible, .popup_container.visible {
}

.overlay.visible {
    opacity: 0.3;
    pointer-events: all;
}

.popup_container.visible {
    opacity: 1;

    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */
}

.popup_container.visible .popup_content {
    pointer-events: all;
}

.popup_content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.screenshot_popup {
    background-color: #F22;
    border: 10px solid #F22;
    border-radius: 10px;
}

.screenshot_popup img {
    vertical-align: middle;

    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
}

.screenshot_popup .close {
    position: absolute;
    right: 15px;
    top: 0px;
    color: white;
    font-size: 30px;
    text-decoration: none;

    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -o-transition: all 0.50s ease;
    -ms-transition: all 0.50s ease;
    transition: all 0.50s ease;
}

.screenshot_popup .close:hover {
    transform:scale(1.25);
    -ms-transform:scale(1.25); /* IE 9 */
    -moz-transform:scale(1.25); /* Firefox */
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -o-transform:scale(1.25); /* Opera */
}
