#pageContent .resume_content a {
    text-decoration:none;
}

#pageContent {
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 70px;
}

#wrapper {
    width: 930px;
}

#pageContent .resume_content {
    padding-left: 0;
}

#pageContent .links {
    position: absolute;
    z-index: 1;
    font-size: 14px;
    line-height: 20px;
    top: 22px;
    right: 5px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}
