#pageContent ul {
  margin-top: 5px;
}

#pageContent p {
    margin: 15px 20px;
    text-indent: 40px;
}

#pageContent li {
    margin: 15px 0px;
}

#pageContent h2 {
    margin-top: 20px;
}

hr {
    margin-top: 0;

    display: block; height: 1px;
    border: 0; border-top: 2px solid #F22;
    padding: 0; 
}
